.container {
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) and (min-width: 600px) {
  .container {
    width: 580px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}
