.humburger {
  cursor: pointer;
  display: none;
  transform-origin: 16px 11px;
  float: left;
  outline: 0;
  border: 0;
  background: none;
  padding: 10px;
}

.humburger:focus {
  outline: 0;
}

.humburger .span {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.span {
  display: block;
  width: 30px;
  margin-bottom: 7px;
  background-color: #fff;
}

.span:nth-of-type(1) {
  height: 3px;
}

.span:nth-of-type(2) {
  height: 1.5px;
}

.span:nth-of-type(3) {
  height: 1.5px;
}

.active {
  composes: humburger;
}

.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(4px, 7px);
  width: 30px;
  height: 3px;
}

.active span:nth-of-type(2) {
  opacity: 0;
  pointer-events: none;
}

.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(6px, -9px);
  width: 30px;
  height: 3px;
}

@media screen and (max-width: 759px) {
  .humburger {
    display: block;
    position: fixed;
    left: 9px;
    top: 6px;
  }
}
