.header {
  background-color: #333;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.link {
  color: rgb(179, 179, 179);
  text-decoration: none;
  padding: 10px;
}

.selected {
  color: green;
}
